//This is the styles for the asmin vooking system
.admin-booking-info {
  padding: 20px;
  .admin-booking-info-Cdetails {
    padding: 20px;
    margin-bottom: 10px;
    h2 {
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 20px;
      color: $brandColor;
    }
    ul {
      li {
        list-style: none;
        font-size: 24px;
        margin-bottom: 15px;
        color: #333;
        span {
          color: $adminBrandcolor;
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }
  }

}
