//This is the styles of the nav bar
#HomeNav {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 3px 8px -6px rgba(0, 0, 0, 0.43);
  z-index: 1000000;

  .nav-pad {
    padding-left: 100px;
    padding-right: 100px;
  }

  .navbar-top {
      .brand {
        width: 40%;
        float: left;
        .company-logo {
          float: left;
          width: 40%;
          height: 100%;
            img {
              width: 100%;
              height: 50px;
              object-fit: cover;
              object-position: center;
              display: inline-block;
              vertical-align: -8px;
            }

        }
        .brand-name {
          width: 30%;
            float: left;
        }
        a {
          font-size: 20px;
          color: $brandColor;
          text-decoration: none;
          font-weight: 600;
        }
      }
      .signup-control {
        float: right;
        #SignIn {
          border: 2px solid #001F3F;
          padding: 6px 23px;
          color: #333;
          text-transform: uppercase;
          line-height: 50px;
          text-decoration: none;
          border-radius: 2px;
          font-size: 13px;
          transition: 0.5s;
          &:hover {
            background: $brandColor;
            color: #fff;
            //border-color: rgba(255, 255, 255, 0.8);
          }
        }

        .auth-control {
          position: relative;
          #authName {
            text-decoration: none;
            color: $brandColor;
            display: block;
            padding: 11px 20px;
            font-size: 18px;
            font-weight: 500;
            &:hover {
              background-color: #fff;

            }
            i {
              margin-left: 10px;
            }
          }

          .auth-dropdown {
            display: none;
            position: absolute;
            background-color: #fff;
            right: 0;
            box-shadow: 0 2px 10px rgba(0,0,0,.2);
            padding: 10px 0;
            width: 200px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            z-index: 400;
            a {
              display: block;
              padding: 5px 15px;
              font-size: 14px;
              text-decoration: none;
              color: $brandColor;
              &:hover {
                background-color: #eee;
              }
            }

          }
        }

      }
  }

  .navbar-bottom {
    position: relative;
    background-color: $brandColor;
    padding-top: 10px;
    padding-bottom: 10px;
    .nav-routes {
      float: left;
      ul {
        li {
          list-style: none;
          display: inline-block;
          a {
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            margin-right: 30px;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    .nav-hotline {
      float: right;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
      }
    }

  }

}

#menu-bars {
    display: none;
    color: #fff;
    text-decoration: none;
}

.showAuthNav {
  display: block !important;
}
