//This is the page for variable difinitions

//$brandColor: #F56961;
$brandColor: #0074d9;
$brandColor2: #EC5;
$textColor: #636363;
$finderColor: #4F4F4F;
//$adminBrandcolor: #34498B; #09192A
//$adminBrandcolor: #09192A;
$adminBrandcolor: #0074d9;
